
@{
    ViewData["Title"] = "ConfirmEmail";
}
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
    <p>
        <a asp-action="Index" asp-controller="Home">Click here</a> to return to the home page.
    </p>
</div>

