@{
    ViewData["Title"] = "RegisterConfirmation";
}


    <div class="container">
        <h1>Welcome to our website!</h1>
        <p>Thank you for registering. Your account has been successfully created.</p>
        <p>Please Check your email</p>
    </div>


