@{
    ViewBag.Title = "Email Confirmation";
    Layout = "_Layout";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Email Confirmation</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">A confirmation email has been sent to your email address. Please check your inbox and follow the instructions to confirm your email.</p>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
